html {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    margin: 0;    
    padding: 10px;
    color: rgb(228, 228, 228);
    text-shadow: 0px 0px 2px #000FFF;
    font-family: monospace;
}

#status_text {
   
    min-height: 1.5em;
 
}

.slot_container {

}

.slot_div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slot_status {
    display: inline-block;
}
.slot_buttons {
    margin-left: 20px;
    display: inline-block;
}

.slot_buttons button {
    border: 0px;
    color: rgb(228, 228, 228);    
    font-family: monospace;
    background-color: rgb(32, 32, 32);
}